<h1>Midificar datos de las especies</h1>

<%= render 'form', especie: @especie %>

<%= link_to 'Mostrar', @especie, :class=>"btn btn-default" %> |
<%= link_to 'Volver', especies_path,  :class=>"btn btn-default" %>
