<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @especie.nombre %>
</p>

<%= link_to 'Modificar', edit_especie_path(@especie), :class=>"btn btn-modificar" %> |
<%= link_to 'Volver', especies_path, :class=>"btn btn-default" %>
