    <div class="navbar-form navbar-left">
           <div class="form-group">
                <%= form_tag tareas_path, :method => 'get' do %>
                    <%= link_to 'Todos',  params[:todo], class:"btn btn-primary" %>
                <% end %>
              </div>
      </div> 

