<div class="container">
 
      <div class="col-md-4">
      <h3>Lista de Estados Médicos</h3>
      <hr></hr>  
  </div>
    <div class="col-sm-9">
      <div><%= link_to 'Nuevo Estado Medico', new_estado_medico_path , :class=>"btn btn-nuevo" %></div>
       <br>
      <table class="table table-condensed">
        <tbody>  
            <% @estado_medicos.each do |estado_medico| %>
              <tr>
                <td><%= estado_medico.nombre %></td>
                       
                <td><%= link_to 'Modificar', edit_estado_medico_path(estado_medico), :class=>"btn btn-modificar" %></td>
                <td><%= link_to 'Destruir', estado_medico, method: :delete, data: { confirm: 'Are you sure?' } , :class=>"btn btn-destruir"%></td>
              </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  </div>
</div>

 