<div class="container">
	<div class="alert alert-info" role="alert">
		<%= notice %>
	</div>

	  <strong>Nombre:</strong>
	  <div><h2><%= @estado_medico.nombre %></h2></div>

	<%= link_to 'Editar', edit_estado_medico_path(@estado_medico), :class=>"btn btn-modificar" %> |
	<%= link_to 'Volver', estado_medicos_path, :class=>"btn btn-default" %>
</div>		 