<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @estado_medico.nombre %>
</p>

<%= link_to 'Edit', edit_estado_medico_path(@estado_medico) %> |
<%= link_to 'Back', estado_medicos_path %>
