 <div class="row">
  
  <div class="col-md-4">
      <h1>Lista de CITES</h1>
      <hr></hr>  
  </div>
</div>

    
    <div class="col-sm-9">
    <div><%= link_to 'Nueva CITE', new_cite_path, :class=>"btn btn-nuevo" %></div>
        <br>
        <table class="table table-condensed">
          <tbody>
            <% @cites.each do |cite| %>
              <tr>
                <td><%= cite.nombre %></td>
                <td><%= link_to 'Modificar', edit_cite_path(cite), :class=>"btn btn-modificar" %></td>
                <td><%= link_to 'Destruir', cite, method: :delete, data: { confirm: 'Esta seguro de querer eliminar'} , :class=>"btn btn-destruir"%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>

