
<!-- Alerta para un usuario vip -->
<% if current_user.try(:vip?) %> 
      <div class="alert alert-danger" role="alert">
      <h2>No tiene permiso para utilizar esta sección consulte con el administrador</h2>
<% end %>
<!-- fin de alerta -->

<!-- Si es admin y user se muestra la pagina -->
<% if user_signed_in? %>
  <% if current_user.try(:user?) || current_user.try(:admin?)  %> 
<!-- finaliza al pie de esta lamina con dos end  -->


		<h3>Nueva Ficha Medica</h3>
		<hr></hr>
		<%= render 'form', ficha_medica: @ficha_medica %>
		

	<% end %>
<% end %>

