/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
  *= require_self
  *= require select2
  *= require select2-bootstrap
 */
	@import "bootstrap-sprockets";
	@import "bootstrap";

html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}
cuerpo-zoo{
  algin: center
}

.btn-mostrar {
    font-weight: 500;
    color: #2d2d2d;
    border-color: #2d2d2d;
}

.btn-modificar {
    font-weight: 500;
    color: #7952b3;
    border-color: #7952b3;
}
.btn-destruir {
    font-weight: 500;
    color: #fbb227;
    border-color: #fbb227;
}
.btn-nuevo {
    font-weight: 500;
    color: #fff;
    background-color: #9C27B0;
    border-color: #773782;
    hover-color: #fff;
}
.btn-nuevo:hover {
  color:#9C27B0;
  background-color: #fff;
}
.btn-destruir:hover {
  color:#fff;
  background-color: #fbb227;
}
