// Place all the styles related to the logins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  @import "bootstrap-sprockets";
  @import "bootstrap";

body {
	background: image-url("charts-bg-1.jp") no-repeat center center fixed;
	font-family: Arial;
}

.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}
.rev_slider h2 {

    position: absolute; 
    font-size: 170px;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 20px;
    color:white;
}
.rev_slider3 h4 {
    position: absolute; 
    font-size: 170px;
    margin-top: 130px;
    margin-left: 50px;
    margin-right: 20px;
    color:white;
}
p.description {
    position: absolute; 
    font-size: 25px;
    margin-top: 300px;
    margin-left: 55px;
    margin-right: 20px;
    color:white;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  opacity: 0.8;
  border: 1px solid rgba(0,0,0,0.1); 
font-family: Calibri;
  margin-left:800px; 
  
.form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	  
.form-signin-heading {
  font-family: Calibri;
  font-size: 30px;
}
}
