<div class="breadcumb-area two twooo">
    <div class="breadcumb-two-overlay">
        <div class="container">
            <div class="row">
                <div class="breadcumb">
                    <h2>Reglas del Zoo</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="where-we-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="section-title">
                    <h2>Ubicación</h2>
                    <p>Está en el centro de Barcelona en el Parque de la Ciutadella. Hay dos puntos de acceso: uno a través del parque de la Ciutadella y el otro por la calle Wellington.</p>
                </div>

                <div class="map-area">

                       <script>
                          function initMap() {
                            var uluru = {lat: -27.3023299, lng: -55.894890};
                            var map = new google.maps.Map(document.getElementById('map'), {
                              zoom: 15,
                              center: uluru
                            });}
                        </script>
                    <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxuabkc1RQjQqULrLNru_iBlXqmXQwKHc&callback=initMap">
                    </script>

                    <div id="map" class="map-full" style="width: 100%; height: 390px; position: relative; overflow: hidden;">

                        <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
                        <div class="gm-err-container">
                            <div class="gm-err-content">
                           <div class="gm-err-title">Se ha producido un error.</div><div class="gm-err-message">Esta página no ha cargado Google Maps correctamente. Descubre los detalles técnicos del problema en la consola de JavaScript.</div></div></div></div></div>
                    </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="single-contact">
                    <div class="media">
                        <a class="pull-left" href="#">
                        <img class="media-object" src="/images/map/6.png" alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Address:</h4>
                            <p>219 Mesa Driving Las Vegas, <br>NV 89104</p>
                        </div>
                    </div>
                </div>
            </div>



<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <div class="single-contact">
        <div class="media">
        <a class="pull-left" href="#">
        <img class="media-object" src="/images/map/7.png" alt="Generic placeholder image">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Phone &amp; Fax</h4>
            <p>(012) 345 6789 <br>(012) 555-6631</p>
        </div>
        </div>
    </div>
</div>
            
        </div>

    </div>
</div>