<div class="carousel-inner">
    <!-- Cabecera para acompañar menu-->
    <div class="carousel-item-header" style="background-image: url('/images/cabecera_25.jpg')">
        <div class="contenido">
            <div class=" slider-cabecera-parrafo">
                <h5>
                    Contacto
                </h5>
                <p class="slider-linea">
                    _______________________________________________________________________
                </p>
            </div>
        </div>
    </div>
</div>
<br>
<!-- Contacto -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h3>
                Vení a visitarnos
            </h3>
            <p>
                El zoo se encuentra ubicado a 4 km del centro de la Ciudad de Encarnación por Ruta Nº 1
            </p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
         
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d28362.38930942916!2d-55.8888295!3d-27.30384!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x964eaddc0917a1d5!2sMini+Zoo+del+Juan+XXIII!5e0!3m2!1ses!2spy!4v1534094457873"  frameborder="0" style="border:0; width:80vw; height:35vw;" allowfullscreen></iframe>
        
        </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
              <br> 
        </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="area-extincion-titulo contacto">
                    <h2>
                        Dirección: Calle 10 c/ Tajy Encarnación, Py
                    </h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="area-extincion-titulo">
                    <h2>
                        Teléfono: 0985- 758 690
                    </h2>
                </div>
            </div>
        </br>
    </div>
</div>