<div class="breadcumb-area three">
                <div class="container">
                    <div class="row">
                        <div class="breadcumb">
                            <h2>El zoo</h2>
                        </div>
                    </div>
                </div>
            </div>
<div class="home-plan-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="single-plan">
                          
                            <div class="plan-details">
                                <h3><a href="plan.html">Quienes somos</a></h3>
                                <p>El mini zoológico privado, nace en respuesta a una afición o interés particular de los
propietarios, quienes como docentes del Colegio Juan XXIII, vieron la necesidad de plasmar en
la práctica, las enseñanzas teóricas del aula en lo que se refiere a valoración y respeto al
medio ambiente, la preservación de muchas de nuestras especies amenazadas o en peligro de
extinción, por la destrucción de sus hábitats naturales como consecuencia de las diversas
actividades antrópicas, y partiendo de la base de que si se enseña con el ejemplo, se formarán
a niños y jóvenes con una conciencia ambientalista más responsable, y se verán efectos
multiplicadores en sus familias y la sociedad toda, traducidos en una convivencia más armónica
con la naturaleza.</p>
                                
                            </div>
                        </div>
                    </div>
                    
              
                    
            </div>
        </div>  
    </div> 