 <div class="carousel-inner" >
          <!-- Cabecera para acompañar menu-->
          <div class="carousel-item-header" style="background-image: url('/images/cabecera_3.jpg')">
           <div class="contenido">
              <div class=" slider-cabecera-parrafo">
                <h5>El zoo</h5>
                <p class="slider-linea">_______________________________________________________________________</p>
              </div>
            </div>
          </div>
        </div>
        
    
  
    
    <!-- contenidos-->
    <center>
      <section class="py-5">
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h4>Quienes somos</h4>
                  <p>El mini zoológico privado, nace en respuesta a una afición o interés particular de los propietarios, quienes como docentes del Colegio Juan XXIII, vieron la necesidad de plasmar en la práctica, las enseñanzas teóricas del aula en lo que se refiere a valoración y respeto al medio ambiente, la preservación de muchas de nuestras especies amenazadas o en peligro de extinción, por la destrucción de sus hábitats naturales como consecuencia de las diversas actividades antrópicas, y partiendo de la base de que si se enseña con el ejemplo, se formarán a niños y jóvenes con una conciencia ambientalista más responsable, y se verán efectos multiplicadores en sus familias y la sociedad toda, traducidos en una convivencia más armónica con la naturaleza.</p>
                </div>
            </div>
        </div>
      </section>
    </center>
