       <!-- Footer Start Here -->
        <footer>
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="apps-area">
                                <img src="images/footer/apps.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-top-content">
                                <h2>Check Our Zooks App</h2>
                                <strong>Say hello to our free award-winning app! </strong>
                                <p>It’s your companion at <strong>Zooks</strong>, here to help you find your way around and discover our animals and attractions.</p>
                                <div class="about-botton">
                                    <ul>
                                        <li><a href="#">Download for Android</a></li>
                                        <li><a href="#">Download for iPhone</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-footer">
                <div class="container">
                    <div class="row">
                       <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                           <div class="widget">
                               <h2 class="widget-title">Explore</h2>
                               <ul>
                                   <li><a href="know.html"><img src="images/footer/icon.png" alt=""> Zooks Experiences</a></li>
                                   <li><a href="plan.html"><img src="images/footer/icon.png" alt=""> Plan Your Day</a></li>
                                   <li><a href="rate.html"><img src="images/footer/icon.png" alt=""> Rates & Bookings</a></li>
                                   <li><a href="contact.html"><img src="images/footer/icon.png" alt=""> How to Get Here</a></li>
                                   <li><a href="sponser.html"><img src="images/footer/icon.png" alt=""> Animal Sponsor</a></li>
                               </ul>
                           </div>
                       </div> 
                       <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                           <div class="widget">
                               <h2 class="widget-title">Tweets <span>by @zookszoo</span></h2>
                               <ul>
                                   <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i><p>Checkout my latest item Themeforest by clicking on this: <span class="widget-span-link">https://ghd67nG...</span><br/><span class="widget-span-hrs">3 hrs ago</span></p></a></li>
                                   <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i><p>Make sure and checkout my template @themeforest having an awesome look <span class="widget-span-link">https://54FhjEe...</span><br/><span class="widget-span-hrs">5 hrs ago</span></p></a></li>
                               </ul>
                           </div>
                       </div> 
                       <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                           <div class="widget">
                               <h2 class="widget-title">Our Gallery</h2>
                                <ul class="gallery">
                                    <li><a href="images/gellary/1.png"><img src="images/gellary/1.png" alt=""></a></li>
                                    <li><a href="images/gellary/2.png"><img src="images/gellary/2.png" alt=""></a></li>
                                    <li><a href="images/gellary/3.png"><img src="images/gellary/3.png" alt=""></a></li>
                                    <li><a href="images/gellary/4.png"><img src="images/gellary/4.png" alt=""></a></li>
                                    <li><a href="images/gellary/5.png"><img src="images/gellary/5.png" alt=""></a></li>
                                    <li><a href="images/gellary/6.png"><img src="images/gellary/6.png" alt=""></a></li>
                                </ul>
                           </div>
                       </div> 
                       <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                           <div class="widget">
                               <h2 class="widget-title">Sponsors</h2>
                                <ul class="gallery-sp">
                                    <li>
                                        <a href="sponser.html">
                                            <img src="images/sponser/1.png" alt="" class="normal-sp">
                                            <img src="images/sponser/1h.png" alt="" class="hover-sp">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="sponser.html">
                                            <img src="images/sponser/2.png" alt="" class="normal-sp">
                                            <img src="images/sponser/2h.png" alt="" class="hover-sp">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="sponser.html">
                                            <img src="images/sponser/3.png" alt="" class="normal-sp">
                                            <img src="images/sponser/3h.png" alt="" class="hover-sp">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="sponser.html">
                                            <img src="images/sponser/4.png" alt="" class="normal-sp">
                                            <img src="images/sponser/4h.png" alt="" class="hover-sp">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="sponser.html">
                                            <img src="images/sponser/5.png" alt="" class="normal-sp">
                                            <img src="images/sponser/5h.png" alt="" class="hover-sp">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="sponser.html">
                                            <img src="images/sponser/6.png" alt="" class="normal-sp">
                                            <img src="images/sponser/6h.png" alt="" class="hover-sp">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="sponser.html">
                                            <img src="images/sponser/7.png" alt="" class="normal-sp">
                                            <img src="images/sponser/7h.png" alt="" class="hover-sp">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="sponser.html">
                                            <img src="images/sponser/8.png" alt="" class="normal-sp">
                                            <img src="images/sponser/8h.png" alt="" class="hover-sp">
                                        </a>
                                    </li>
                                </ul>
                           </div>
                       </div> 
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="widget">
                                <div class="footer-menu">
                                    <ul>
                                        <li><a href="rules.html">Zoo Rules</a></li>
                                        <li><a href="faq.html">Frequently Asked Questions</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
                            <div class="widget">
                                <div class="copyright">
                                    <p>Zooks <i class="flaticon-shapes-1"></i> by <a href="https://themeforest.net/user/envalab/portfolio?ref=envalab" target="_blank">ENVALAB</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>