<footer class="py-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                
                    <div class="footer-image ">
                      
                    </div>
               
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                
                    <div class="footer-menu">
                        <ul>
                            <li>
                                <a href="/tareas">
                                    Acceso
                                </a>
                            </li>
                            <li>
                                <a href="https://facebook.com/hectorvieyrapy">
                                    Consultas
                                </a>
                            </li>
                        </ul>
                    </div>
               
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                <div class="widget">
                    <div class="copyright">
                        Mini Zoológico del Juan XXIII - 2018
                    </div>
                </div>
            </div>
        </div>

         
    </div>

                
                    <div class="footer-image-pie">
                 .
                    </div>
                
</footer>