<footer class="py-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="widget">
                    <div class="footer-menu ">
                        <ul>
                            <li>
                                <a href="/tareas">
                                    Acceso
                                </a>
                            </li>
                            <li>
                                <a href="https://facebook.com/hectorvieyrapy">
                                    Consultas
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
                <div class="widget">
                    <div class="copyright">
                        Mini Zoológico del Juan XXIII - 2018
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>