       <!-- Footer Start Here -->
        <footer>
           
            <div class="main-footer">
                <div class="container">
                    <div class="row">
                       <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                           <div class="widget">
                               <h2 class="widget-title">Explorar</h2>
                               <ul>
                    
                                <li><a href="/website/elzoo">El Zoo</a></li>
                                <li><a href="/website/reglas">Reglas</a></li>
                                <li><a href="/website/galeria">Galeria</a></li>
                                <li><a href="/website/contacto">Contactos</a></li>
                                <li><a href="/website/misionvision">Misión y Visón</a></li>
                                   
                               </ul>
                           </div>
                       </div> 

                       <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                           <div class="widget">
                               <h2 class="widget-title">Redes Sociales <span> @minizoo</span></h2>
                           <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fminizoojuanxxiii&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId=208324659209152" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                           </div>
                       </div> 

                         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                           <div class="widget">
                               <h2 class="widget-title"></h2>
                            <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fzoosaopaulo%2Fvideos%2F1733581510009562%2F&width=500&show_text=false&appId=208324659209152&height=280" width="500" height="280" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                           </div>
                       </div> 
                      
                      
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="widget">
                                <div class="footer-menu">
                                    <ul>
                                        <li><a href="/tareas">Acceso</a></li>
                                        <li><a href="https://facebook.com/hectorvieyrapy">Consultas</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
                            <div class="widget">
                                <div class="copyright">
                                    <p>Mini Zoologico del Juan XXIII - 2018</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>