<div class="carousel-inner">
    <!-- Cabecera para acompañar menu-->
    <div class="carousel-item-header" style="background-image: url('/images/cabecera_1.jpg')">
        <div class="contenido">
            <div class=" slider-cabecera-parrafo">
                <h5>
                    Galeria
                </h5>
                <p class="slider-linea">
                    _______________________________________________________________________
                </p>
            </div>
        </div>
    </div>
</div>
<!-- contenidos-/galeria-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
                <div class="box">
                    <a data-target="#1" data-toggle="modal" href="#">
                        <img src="/galeria/1.jpg">
                        </img>
                    </a>
                    <div class="modal fade" id="1" role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">
                                        X
                                    </span>
                                </button>
                                <div class="modal-body">
                                    <img src="/galeria/1.jpg">
                                    </img>
                                </div>
                                <div class="col-md-12 description">
                                    <h4>
                                        Pavo Cristatus (Pavo Real)
                                    </h4>
                                    <p>
                                        Es una de las dos especies de aves pertenecientes al género Pavo, desde tiempo antiguos destacó entre los animales admirados por el humano a causa del extraordinario abanico policroamdo que constituye la cola de los machos
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a data-target="#2" data-toggle="modal" href="#">
                        <img src="/galeria/2.jpg">
                        </img>
                    </a>
                    <div class="modal fade" id="2" role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">
                                        ×
                                    </span>
                                </button>
                                <div class="modal-body">
                                    <img src="/galeria/2.jpg">
                                    </img>
                                </div>
                                <div class="col-md-12 description">
                                    <!-- <h4>Guacamayo azul</h4>
                      <p>100 cms. Azul, más oscuro en las alas. El anillo perioftálmico y base de la mandíbula inferior son desnudos y amarillos. Pico negro, iris color marrón. </p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a data-target="#3" data-toggle="modal" href="#">
                        <img src="/galeria/3.jpg">
                        </img>
                    </a>
                    <div class="modal fade" id="3" role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">
                                        ×
                                    </span>
                                </button>
                                <div class="modal-body">
                                    <img src="/galeria/3.jpg">
                                    </img>
                                </div>
                                <div class="col-md-12 description">
                                    <h4>
                                        Tucán
                                    </h4>
                                    <p>
                                        Son aves de plumas y pico de colores muy llamativos. Llegan a medir hasta 65 centímetros y pesan de 130 hasta 680g. Su pico es largo con una longitud aproximada de 20 cm. Tiene alas pequeñas, cortas y redondeadas.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a data-target="#4" data-toggle="modal" href="#">
                        <img src="/galeria/4.jpg">
                        </img>
                    </a>
                    <div class="modal fade" id="4" role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">
                                        ×
                                    </span>
                                </button>
                                <div class="modal-body">
                                    <img src="/galeria/4.jpg">
                                    </img>
                                </div>
                                <div class="col-md-12 description">
                                    <h4>
                                        Hurón mayor
                                    </h4>
                                    <p>
                                        Es una especie de mamífero carnívoro de la familia Mustelidae que habita en bosques y zonas de vegetación abundante.La longitud del cuerpo alcanza de 58 a 75 cm, la de la cola a los 42 cm. pesa en promedio 5 kg.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a data-target="#5" data-toggle="modal" href="#">
                        <img src="/galeria/5.jpg">
                        </img>
                    </a>
                    <div class="modal fade" id="5" role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">
                                        ×
                                    </span>
                                </button>
                                <div class="modal-body">
                                    <img src="/galeria/5.jpg">
                                    </img>
                                </div>
                                <div class="col-md-12 description">
                                    <h4>
                                        Mono Capuchino
                                    </h4>
                                    <p>
                                        Ojos grandes de color pardo, orejas parecidas al humano. Color amarillento oscuro. Parte central de la espalda más oscura. Las manos, las patas y la punta de la cola son negras.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a data-target="#6" data-toggle="modal" href="#">
                        <img src="/galeria/6.jpg">
                        </img>
                    </a>
                    <div class="modal fade" id="6" role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">
                                        ×
                                    </span>
                                </button>
                                <div class="modal-body">
                                    <img src="/galeria/6.jpg">
                                    </img>
                                </div>
                                <div class="col-md-12 description">
                                    <h4>
                                        Búho
                                    </h4>
                                    <p>
                                        Tienen una visión excepcional que les permite ser muy buenos cazadores. También tienen muy buen oído. Los picos son pequeños pero también muy eficaces. Poseen garras filosas y largas que le permiten sujetar a la presa.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a data-target="#7" data-toggle="modal" href="#">
                        <img src="/galeria/7.jpg">
                        </img>
                    </a>
                    <div class="modal fade" id="7" role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">
                                        ×
                                    </span>
                                </button>
                                <div class="modal-body">
                                    <img src="/galeria/7.jpg">
                                    </img>
                                </div>
                                <div class="col-md-12 description">
                                    <h4>
                                        Tigre
                                    </h4>
                                    <p>
                                        Gran tamaño llega a pesar más de 180-250 kilos y medir poco más de 3 metros de la cabeza hasta la punta de la cola. Su pelaje es de tono naranja rojizo u ocre, acompañado de franjas negras, grises o marrones, mientras la parte inferior de su anatomía es blanca o beige.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a data-target="#8" data-toggle="modal" href="#">
                        <img src="/galeria/8.jpg">
                        </img>
                    </a>
                    <div class="modal fade" id="8" role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">
                                        ×
                                    </span>
                                </button>
                                <div class="modal-body">
                                    <img src="/galeria/8.jpg">
                                    </img>
                                </div>
                                <div class="col-md-12 description">
                                    <h4>
                                        Tatú bolita
                                    </h4>
                                    <p>
                                        Suele tener un color amarillo o marrón de entre 22 a 33 cm. La cáscara que cubre su cuerpo está blindado y la capa exterior está hecho de queratina, el mismo componente que forma las uñas humanas.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a data-target="#9" data-toggle="modal" href="#">
                        <img src="/galeria/9.jpg">
                        </img>
                    </a>
                    <div class="modal fade" id="9" role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">
                                        ×
                                    </span>
                                </button>
                                <div class="modal-body">
                                    <img src="/galeria/9.jpg">
                                    </img>
                                </div>
                                <div class="col-md-12 description">
                                    <h4>
                                        Guacamayo azul
                                    </h4>
                                    <p>
                                        100 cms. Azul, más oscuro en las alas. El anillo perioftálmico y base de la mandíbula inferior son desnudos y amarillos. Pico negro, iris color marrón.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
                <div class="box">
                    <a data-target="#10" data-toggle="modal" href="#">
                        <img src="/galeria/10.jpg">
                        </img>
                    </a>
                    <div class="modal fade" id="10" role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">
                                        ×
                                    </span>
                                </button>
                                <div class="modal-body">
                                    <img src="/galeria/10.jpg">
                                    </img>
                                </div>
                                <div class="col-md-12 description">
                                    <h4>
                                        Puma
                                    </h4>
                                    <p>
                                        Esbelto, tamaño grande, patas largas, espalda ligeramente curvada. De color amarillo leonado hasta rojizo oscuro. La cabeza es pequeña, con marcas faciales prominentes. Hocico blanco. Orejas mancha blanca por detrás.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a data-target="#11" data-toggle="modal" href="#">
                        <img src="/galeria/11.jpg">
                        </img>
                    </a>
                    <div class="modal fade" id="11" role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">
                                        ×
                                    </span>
                                </button>
                                <div class="modal-body">
                                    <img src="/galeria/11.jpg">
                                    </img>
                                </div>
                                <div class="col-md-12 description">
                                    <h4>
                                        Conejo
                                    </h4>
                                    <p>
                                        Cuerpo cubierto de un pelaje espeso y lanudo, de color pardo pálido a gris,cabeza ovalada yojos grandes. Pesa entre 1,5 y 2,5 kg en estado salvaje. Tiene orejas largas de hasta 7cm.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a data-target="#12" data-toggle="modal" href="#">
                        <img src="/galeria/12.jpg">
                        </img>
                    </a>
                    <div class="modal fade" id="12" role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">
                                        ×
                                    </span>
                                </button>
                                <div class="modal-body">
                                    <img src="/galeria/12.jpg">
                                    </img>
                                </div>
                                <div class="col-md-12 description">
                                    <h4>
                                        Guacamayo Rojo
                                    </h4>
                                    <p>
                                        Rojo escarlata. Mancha alar verde amarillenta. Rabadilla, subcaudal y ápice caudal celeste. Cara blanca con líneas rojas. 85 cm.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a data-target="#13" data-toggle="modal" href="#">
                        <img src="/galeria/13.jpg">
                        </img>
                    </a>
                    <div class="modal fade" id="13" role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">
                                        ×
                                    </span>
                                </button>
                                <div class="modal-body">
                                    <img src="/galeria/13.jpg">
                                    </img>
                                </div>
                                <div class="col-md-12 description">
                                    <h4>
                                        Guacamayo Amarillo
                                    </h4>
                                    <p>
                                        Remeras azules, dorso azul, ventral amarillo oro incluyendo alas y cola ventrales. Frente verde. Garganta y robusto pico negros.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a data-target="#14" data-toggle="modal" href="#">
                        <img src="/galeria/14.jpg">
                        </img>
                    </a>
                    <div class="modal fade" id="14" role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">
                                        ×
                                    </span>
                                </button>
                                <div class="modal-body">
                                    <img src="/galeria/14.jpg">
                                    </img>
                                </div>
                                <div class="col-md-12 description">
                                    <h4>
                                        Puerco espín
                                    </h4>
                                    <p>
                                        La parte dorsal está cubierta de espinas fuertes y púas. Miden de 46 a 56 cm., la cola de 18 a 23 cm., pesa de 4.5 a 13 kg. y tiene 20 dientes.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a data-target="#15" data-toggle="modal" href="#">
                        <img src="/galeria/15.jpg">
                        </img>
                    </a>
                    <div class="modal fade" id="15" role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">
                                        ×
                                    </span>
                                </button>
                                <div class="modal-body">
                                    <img src="/galeria/15.jpg">
                                    </img>
                                </div>
                                <div class="col-md-12 description">
                                    <h4>
                                        Pecari
                                    </h4>
                                    <p>
                                        Hocico que termina en un discocartilaginoso, y ojos pequeños en relación al tamaño de su cabeza. Suelen medir entre 90 y 130 cm de largo. Sólo usan los dos dedos centrales de sus patas delanteras para caminar
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a data-target="#16" data-toggle="modal" href="#">
                        <img src="/galeria/16.jpg">
                        </img>
                    </a>
                    <div class="modal fade" id="16" role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">
                                        ×
                                    </span>
                                </button>
                                <div class="modal-body">
                                    <img src="/galeria/16.jpg">
                                    </img>
                                </div>
                                <div class="col-md-12 description">
                                    <h4>
                                        Yacaré
                                    </h4>
                                    <p>
                                        Los ojos y las fosas nasales proyectadas hacia arriba sobre el dorso de la cabeza. La cola es aplastada. El color, café oscuro a negro, parte ventral amarilleta mide 1.30 m.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>