<div class="carousel slide" data-ride="carousel" id="carouselExampleIndicators">
    <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('/images/slider/1.jpg')">
            <div class="carousel-caption d-md-block slider-parrafo">
                <h1>
                    Monos
                </h1>
                <p class="slider-linea">
                    _______________________________________________________________________
                </p>
                <p class="slider-texto">
                    Simpáticos y divertidos.
                </p>
            </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/images/slider/55.jpg')">
            <div class="carousel-caption d-md-block slider-parrafo">
                <h1>
                    Pumas
                </h1>
                <p class="slider-linea">
                    _______________________________________________________________________
                </p>
                <p class="slider-texto">
                    Uno de los ejemplares favorito.
                </p>
            </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/images/slider/3.jpg')">
            <div class="carousel-caption d-md-block slider-parrafo">
                <h1>
                    Aves
                </h1>
                <p class="slider-linea">
                    _______________________________________________________________________
                </p>
                <p class="slider-texto">
                    El Pavo Real uno de los ejemplares favorito.
                </p>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url('/images/slider/5.jpg')">
            <div class="carousel-caption d-md-block slider-parrafo">
                <h1>
                    Tucán
                </h1>
                <p class="slider-linea">
                    _______________________________________________________________________
                </p>
                <p class="slider-texto">
                    Uno de los ejemplares favorito.
                </p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators" role="button">
        <span aria-hidden="true" class="carousel-control-prev-icon">
        </span>
        <span class="sr-only">
            Previous
        </span>
    </a>
    <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators" role="button">
        <span aria-hidden="true" class="carousel-control-next-icon">
        </span>
        <span class="sr-only">
            Next
        </span>
    </a>
</div>
<!-- Visitas-->
<center>
    <section class="py-5">
        <div class="container">
            <h3>
                Planifica tu visita
            </h3>
            <div class="row">
                <div class="col-md-6">
                    <h4>
                        Días de Visita
                    </h4>
                    <p>
                        Te esperamos de Lunes a Domingo. De 08:00 hasta las 17:30 hs. La última entrada es 1 hora antes del cierre
                    </p>
                </div>
                <div class="col-md-6">
                    <h4>
                        Recorridos
                    </h4>
                    <p>
                        Nuestro equipo te ayudará a descubrir cosas grandiosas sobre nuestros animales.
                    </p>
                </div>
            </div>
        </div>
    </section>
</center>
<!-- Animales en peligro -->
<div class="area-extincion">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h3>
                    Animales en peligro de extinción
                </h3>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="area-extincion-titulo">
                    <h2>
                        Gua`a hovy
                    </h2>
                    <div class="extincion-images">
                        <a href="#">
                            <img alt="" src="/peligro/1.jpg"/>
                        </a>
                        <br>
                            <p>
                                Es uno de los loros más grandes; habita el norte de la Región Oriental del país, es perseguido por su colorido y vistoso plumaje, y utilizado como mascota. .
                            </p>
                        </br>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="area-extincion-titulo">
                    <h2>
                        Tirica
                    </h2>
                    <div class="extincion-images">
                        <a href="#">
                            <img alt="" src="/peligro/2.jpg"/>
                        </a>
                        <br>
                            <p>
                                Conocido como gato montes. Habita todo el territorio paraguayo y en ciertas áreas de países limítrofes.
                            </p>
                        </br>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="area-extincion-titulo">
                    <h2>
                        Tapir
                    </h2>
                    <div class="extincion-images">
                        <a href="#">
                            <img alt="" src="/peligro/3.jpg"/>
                        </a>
                        <br>
                            <p>
                                Conocido como mboreví. Es un animal que está amenazado por la destrucción de su hábitat y por la caza indiscriminada para el consumo de su carne.
                            </p>
                        </br>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="area-extincion-titulo">
                    <h2>
                        Armadillo
                    </h2>
                    <div class="extincion-images">
                        <a href="#">
                            <img alt="" src="/peligro/4.jpg"/>
                        </a>
                        <br>
                            <p>
                                Conocido como tatú bolita, se halla en peligro por ser considerado una fuente de alimento, por su carne y para la fabricación de diversos objetos con su armadura..
                            </p>
                        </br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- sueño-->
<center>
    <section class="py-5">
        <div class="container">
            <h3>
                Nuestro Sueño
            </h3>
            <p>
                Los animales así como cualquiera de nosotros ellos también necesitan de espacios suficientes para poder vivir de la mejor manera. Nosotros como institución queremos que nuestros animales tengan las mejores comodidades que permitan su desarrollo y desenvolvimiento de la mejor manera, es por ello que tenemos como sueño poder ampliar el minizoo.
            </p>
        </div>
        <img alt="El Sueño del Zoo" class="container-fluid" src="/images/sueno.jpg">
        </img>
    </section>
</center>
<div class="container-fluid">
    <dir class="media-footer">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <h3>
                    Explorer
                </h3>
                <div class="explorer">
                    <ul>
                        <li>
                            <a href="/website/elzoo">
                                El Zoo
                            </a>
                        </li>
                        <li>
                            <a href="/website/reglas">
                                Reglas
                            </a>
                        </li>
                        <li>
                            <a href="/website/galeria">
                                Galeria
                            </a>
                        </li>
                        <li>
                            <a href="/website/contacto">
                                Contactos
                            </a>
                        </li>
                        <li>
                            <a href="/website/misionvision">
                                Misión y Visión
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <h3>
                    Redes Sociales
                </h3>
                <iframe allowtransparency="true" frameborder="0"  height="450" scrolling="no" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fminizoojuanxxiii&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId=208324659209152" style="border:none;overflow:hidden"  width="250">
                </iframe>
            </div>
            <br>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="embed-responsive-16by9">
                   <iframe  src="https://www.youtube.com/embed/c1nPJAFDn4g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </dir>
</div>
