

            <div class="container"> 
                <div class="row">
                    <div class="header-top">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="logo-area">
                                <a href="index.html">
                                    <img src="/images/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                            <div class="header-top-right">
                                <nav>
                                    <ul>
                                    
                                        <li><a href="#">Nuestro Sueño</a></li>
                                        <li><a href="sponser.html">Donar</a></li>
                                        <li><a href="#" class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                        <!-- <li class="schedule"><a href="plan.html">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>Calendario
                                        </a></li> -->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="main-header">
                        <nav>
                            <ul>
                                <li class="active"><a href="index.html">Inicio</a></li>
                                <li><a href="elzoo">El Zoo</a></li>
                                <li><a href="reglas">Reglas</a></li>
                                <li><a href="galeria">Galeria</a></li>
                                <li><a href="contacto">Contactos</a></li>
                                <li><a href="misionvision">Misión y Visón</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="mobile-menu">
                          <nav id="dropdown">
                            <ul>
                                <li class="active"><a href="index.html">Home</a></li>
                                <li><a href="know.html">Know the zoo</a></li>
                                <li><a href="rules.html">Rules</a></li>
                                <li><a href="faq.html">Faq</a></li>
                                <li><a href="rate.html">Rates & Bookings</a></li>
                                <li><a href="contact.html">Directions & Contact</a></li>
                            </ul>
                          </nav>
                        </div>          
                      </div>
                    </div>
                </div>
            </div> 
            <div class="search-box-area">
                <div class="container">
                      <div class="row">                          
                          <div class="search-form">
                              <form>
                                  <div class="col-sm-12">
                                      <div class="form-group">
                                          <input type="text" class="form-control" placeholder="Search Here...">
                                          <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>              
            </div>
   