<div class="breadcumb-area nineee">
    <div class="breadcumb-two-overlay">
        <div class="container">
            <div class="row">
                <div class="breadcumb">
                    <h2>Misión y Visión</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-plan-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="single-plan">
                          
                            <div class="plan-details">
                                <h3><a href="plan.html">Misión</a></h3>
                                <p>Contribuir a la protección del ambiente, promoviendo el conocimiento y sensibilización sobre la biodiversidad, la ejecución de programas de investigación científica, educación, manejo y crianza de fauna y flora aplicados a la conservación de especies animales, vegetales, ecosistemas y las etnias nativas del Paraguay.</p>
                                
                            </div>

                            <div class="plan-details">
                                <h3><a href="plan.html">Visión</a></h3>
                                <p>Ser una institución zoológica líder que promueva la investigación, educación, recreación, manejo, crianza y conservación de la biodiversidad.</p>
                                
                            </div>
                        </div>
                    </div>
                    
              
                    
            </div>
        </div>  
    </div> 