    
        <div class="carousel-inner" >
          <!-- Cabecera para acompañar menu-->
          <div class="carousel-item-header" style="background-image: url('/images/cabecera_2.jpg')">
           <div class="contenido">
              <div class=" slider-cabecera-parrafo">
                <h5>Nuestra Misión</h5>
                <p class="slider-linea">_______________________________________________________________________</p>
              </div>
            </div>
          </div>
        </div>
        
 
    
   
   <!-- contenidos-vision mision-->
    <center>
      <section class="py-5">
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h4>Misión</h4>
                  <p>Contribuir a la protección del ambiente, promoviendo el conocimiento y sensibilización sobre la biodiversidad, la ejecución de programas de investigación científica, educación, manejo y crianza de fauna y flora aplicados a la conservación de especies animales, vegetales, ecosistemas y las etnias nativas del Paraguay.</p>
              </div>

               <div class="col-md-12">
                <h4>Visión</h4>
                  <p>Ser una institución zoológica líder que promueva la investigación, educación, recreación, manejo, crianza y conservación de la biodiversidad.</p>
              </div>
            </div>
        </div>
      </section>
    </center>