<div class="home-plan-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="section-title">
                            <h2>Plan Your Visit</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="single-plan">
                            <div class="plan-icon">
                                <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i></a>
                            </div>
                            <div class="plan-details">
                                <h3><a href="plan.html">Opening Times</a></h3>
                                <p>We are open until 5:30pm. Last entry is 1 hour before closing.</p>
                                <div class="read-more">
                                    <a href="plan.html">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="single-plan">
                            <div class="plan-icon">
                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
                            </div>
                            <div class="plan-details">
                                <h3><a href="plan.html">Animal Talks</a></h3>
                                <p>Our team surely helps you to discover great things about our animals.</p>
                                <div class="read-more">
                                    <a href="plan.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="single-plan">
                            <div class="plan-icon">
                                <a href="#"><i class="flaticon-animal-1"></i></a>
                            </div>
                            <div class="plan-details">
                                <h3><a href="plan.html">Group Discounts</a></h3>
                                <p>Get discounts up to 50%off  if there are 10 or more of you.</p>
                                <div class="read-more">
                                    <a href="plan.html">See Discounts</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="single-plan">
                            <div class="plan-icon">
                                <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i></a>
                            </div>
                            <div class="plan-details">
                                <h3><a href="plan.html">Upcoming Events</a></h3>
                                <p>Each month we have something new to offer our visitors.</p>
                                <div class="read-more">
                                    <a href="plan.html">See Calendar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  