<div class="carousel-inner">
    <!-- Cabecera para acompañar menu-->
    <div class="carousel-item-header" style="background-image: url('/images/cabecera_40.jpg')">
        <div class="contenido">
            <div class=" slider-cabecera-parrafo">
                <h5>
                    Reglas
                </h5>
                <p class="slider-linea">
                    _______________________________________________________________________
                </p>
            </div>
        </div>
    </div>
</div>

<!-- contenidos-->
<center>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>
                        Al visitar el Zoológico, por favor tenga en cuenta...
                    </h3>
                    <br>
                    <div class="reglas-contenido">
                        <div class="regla-item-uno">
                            1- Niños menores de 13 años deben estar acompañados de sus padres y/o responsable adulto
                        </div>
                        <p class="slider-linea">______________________________________________________________________________________________</p>
                        <div class="regla-item-dos">
                            2- Prohibido el ingreso con alimentos y otros animales.
                        </div>
                        <p class="slider-linea">______________________________________________________________________________________________</p>
                        <div class="regla-item-uno">
                            3- Evita utilizar el flash al tomar las fotos con tu teléfono movil. Con esto evitaremos incomodar y molestar a los animales
                        </div>
                         <p class="slider-linea">______________________________________________________________________________________________</p>
                        <div class="regla-item-dos">
                            4- Cualquier comportamiento irrespetuoso hacia los animales, el personal del Zoo u otros visitantes pueden ser penalizados con la expulsión inmediata de las personas responsables
                        </div>
                         <p class="slider-linea">______________________________________________________________________________________________</p>
                        <div class="regla-item-uno">
                            5- Tocar y alimentar a los animales está estrictamente prohibido.
                        </div>
                        <div class="regla-item-dos">
                            6- Se prohibe pasar las barreras de seguridad señalizadas.
                        </div>
                         <p class="slider-linea">______________________________________________________________________________________________</p>
                        <div class="regla-item-uno">
                            7- No se permite tomar fotografías en calidad profesional sin autorización previa.
                        </div>
                         <p class="slider-linea">______________________________________________________________________________________________</p>
                        <div class="regla-item-dos">
                            8- Se reserva el derecho de admisión al lugar
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="extincion-images">
                        
                            <img alt="" src="/images/tatu-bolita.png"/>
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
</center>