     
        <div class="carousel-inner" >
          <!-- Cabecera para acompañar menu-->
          <div class="carousel-item-header" style="background-image: url('http://www.minizoo.com.py/images/breadcum3.jpg')">
           <div class="contenido">
              <div class=" slider-cabecera-parrafo">
                <h5>Reglas</h5>
                <p class="slider-linea">_______________________________________________________________________</p>
              </div>
            </div>
          </div>
        </div>
        
    
  
    
    <!-- contenidos-->
    <center>
      <section class="py-5">
        <div class="container">
            <div class="row">
              <div class="col-md-6">
                <h3>Reglas a tener en cuenta</h3>
                <div class="reglas-contenido">
                  <div class="alert alert-success" role="alert">
                    1- Niños menores de 13 años deben estar acompañados de sus padres y/o responsable adulto
                  </div>
                  
                  <div class="alert alert-warning" role="alert">
                    2- Prohibido el ingreso con alimentos y otros animales.
                  </div>

                   <div class="alert alert-success" role="alert">
                    3- Evita utilizar el flash al tomar las fotos con tu teléfono movil. Con esto evitaremos incomodar y molestar a los animales
                  </div>
                  
                  <div class="alert alert-warning" role="alert">
                    4- Cualquier comportamiento irrespetuoso hacia los animales, el personal del Zoo u otros visitantes pueden ser penalizados con la expulsión inmediata de las personas responsables
                  </div>

                    <div class="alert alert-success" role="alert">
                   5- Tocar y alimentar a los animales está estrictamente prohibido.
                  </div>
                  
                  <div class="alert alert-warning" role="alert">
                    6- Se prohibe pasar las barreras de seguridad señalizadas.
                  </div>

                   <div class="alert alert-warning" role="alert">
                    7- No se permite tomar fotografías en calidad profesional sin autorización previa.
                  </div>

                    <div class="alert alert-success" role="alert">
                   8- Se reserva el derecho de admisión al lugar
                  </div>
                </div>
            </div>

             <div class="col-md-6">
                <div class="extincion-images">
                     <a href="#"><img src="/images/loro.png" alt=""></a>
                     <br>
                      <div class="alert alert-danger" role="alert">
                          <h4>Tenga en cuenta estos puntos</h4>
                       </div>
                 </div>
              </div>

             </div>
        </div>
      </section>
    </center>