<div class="breadcumb-area two twooo">
    <div class="breadcumb-two-overlay">
        <div class="container">
            <div class="row">
                <div class="breadcumb">
                    <h2>Reglas del Zoo</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="remember-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="section-title">
                    <h2>A tener en cuenta </h2>
                </div>
            </div>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <div class="remember-content">
                <ul>
                <li>
                <span>1</span>
                <p>Niños menores de 13 años deben estar acompañados de sus padres y/o responsable adulto</p>
                </li>
                <li>
                <span>2</span>
                <p>Prohibido el ingreso con alimentos y otros animales.</p>
                </li>
                <li>
                <span>3</span>
                <p>Evita utilizar el flash al tomar las fotos con tu teléfono movil. Con esto evitaremos incomodar y molestar a los animales</p>
                </li>
                <li>
                <span>4</span>
                <p> Cualquier comportamiento irrespetuoso hacia los animales, el personal del Zoo u otros visitantes pueden ser penalizados con la expulsión inmediata de las personas responsables</p>
                </li>
                <li>
                <span>5</span>
                <p>Tocar y alimentar a los animales está estrictamente prohibido.</p>
                </li>
                <li>
                <span>6</span>
                <p>Se prohibe pasar las barreras de seguridad señalizadas.</p>
                </li>
                <li>
                <span>7</span>
                <p>No se permite tomar fotografías en calidad profesional sin autorización previa.</p>
                </li>
                <li>
                <span>8</span>
                <p>Se reserva el derecho de admisión al lugar</p>
                </li>
                </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 text-center">
                <div class="image">
                    <img src="/images/brid.png" alt="">
                    <div class="image-content">
                        <h1>Conóceme</h1>
                        <p>Ven a conocer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>