
           
          
          
                
        
        <div class="home-services-area">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="single-services-title">
                         <h2>Animales en peligro de extinción </h2>
                    </div> 
                    </div> 
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="single-services">
                            <h2>Gua`a hovy</h2>
                            <div class="services-image">
                                <a href="#"><img src="/peligro/1.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="single-services">
                            <h2>Tirica, gato montes</h2>
                            <div class="services-image">
                                <a href="#"><img src="/peligro/2.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="single-services">
                            <h2>Jaguarete, jaguar</h2>
                            <div class="services-image">
                                <a href="#"><img src="/peligro/3.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="single-services">
                            <h2>Tatu bolita</h2>
                            <div class="services-image">
                                <a href="#"><img src="/peligro/4.jpg" alt=""></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Home Services End Here -->