 <!-- Home Services Start Here -->
        <div class="home-services-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="single-services">
                            <h2>Member of Zooks</h2>
                            <div class="services-image">
                                <a href="#"><img src="images/services/1.jpg" alt=""></a>
                                <div class="overley">
                                    <div class="services-details">
                                        <h4><a href="#">Be part of our community</a></h4>
                                        <div class="services-botton">
                                            <a href="services.html">Join Us Today</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="single-services">
                            <h2>Come On Holidays</h2>
                            <div class="services-image">
                                <a href="#"><img src="images/services/2.jpg" alt=""></a>
                                <div class="overley">
                                    <div class="services-details">
                                        <h4><a href="#">Be part of our community</a></h4>
                                        <div class="services-botton">
                                            <a href="services.html">Join Us Today</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="single-services">
                            <h2>Our Daily Schedule</h2>
                            <div class="services-image">
                                <a href="#"><img src="images/services/3.jpg" alt=""></a>
                                <div class="overley">
                                    <div class="services-details">
                                        <h4><a href="#">Be part of our community</a></h4>
                                        <div class="services-botton">
                                            <a href="services.html">Join Us Today</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="single-services">
                            <h2>Book Tickets</h2>
                            <div class="services-image">
                                <a href="#"><img src="images/services/4.jpg" alt=""></a>
                                <div class="overley">
                                    <div class="services-details">
                                        <h4><a href="#">Be part of our community</a></h4>
                                        <div class="services-botton">
                                            <a href="services.html">Join Us Today</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Home Services End Here -->