
           
          
          
                
        
        <div class="home-services-area">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="section-title">
                         <h3>Animales en peligro de extinción </h3>
                    </div> 
                    </div> 
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="single-services">
                            <h2>Gua`a hovy</h2>
                            <div class="services-image">
                                <a href="#"><img src="/peligro/1.jpg" alt=""></a>
                                <br>
                              
                                    <p>Es uno de los loros más grandes; habita el norte de la Región Oriental del país, es perseguido por su colorido y vistoso plumaje, y utilizado como mascota. .</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="single-services">
                            <h2>Tirica</h2>
                            <div class="services-image">
                                <a href="#"><img src="/peligro/2.jpg" alt=""></a>
                                <br>
                              
                                    <p>Conocido como gato montes. Habita todo el territorio paraguayo y en ciertas áreas de países limítrofes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="single-services">
                            <h2>Tapir</h2>
                            <div class="services-image">
                                <a href="#"><img src="/peligro/3.jpg" alt=""></a>
                                  <br>
                              
                                    <p>Conocido como mboreví. Es un animal que está amenazado por la destrucción de su hábitat y por la caza indiscriminada para el consumo de su carne.</p>
                                
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="single-services">
                            <h2>Armadillo</h2>
                            <div class="services-image">
                                <a href="#"><img src="/peligro/4.jpg" alt=""></a>
                                <br>
                              
                                    <p>Conocido como tatú bolita, se halla en peligro por ser considerado una fuente de alimento, por su carne y para la fabricación de diversos objetos con su armadura..</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Home Services End Here -->