


 <!-- Slider Area Start Here -->
        <div class="slider-area">
            <div class="slide-one">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h2 class="span3 span33 wow bounceInDown center" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceInDown;">Mono</h2>
                            <p data-wow-delay="0.2s" class="span3 wow bounceIn center" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;">Simpatico y muy divertido</p>
                            <a href="services.html" data-wow-delay="0.3s" class="span3 wow bounceInDown center" style="visibility: visible; animation-delay: 0.3s; animation-name: bounceInDown;">Conocer m치s</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-two">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h2 data-wow-delay="0.5s" class="span3 wow bounceInUp center" style="visibility: visible; animation-delay: 0.5s; animation-name: bounceInUp;">Puma</h2>
                            <p>Unos de los ejemplares favoritos</p>
                            <a href="services.html">Conocer m치s</a>
                        </div>
                    </div>
                </div>
            </div>

           <div class="slide-tree">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h2 data-wow-delay="0.5s" class="span3 wow bounceInUp center" style="visibility: visible; animation-delay: 0.5s; animation-name: bounceInUp;">Aves</h2>
                            <p>El Pavo Real. Unos de los ejemplares favoritos</p>
                            <a href="services.html">Conocer m치s</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide-for">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h2 data-wow-delay="0.5s" class="span3 wow bounceInUp center" style="visibility: visible; animation-delay: 0.5s; animation-name: bounceInUp;">Tucan</h2>
                            <p>Unos de los ejemplares favoritos</p>
                            <a href="services.html">Conocer m치s</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="slide-dot">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="slide-dots">
                            <a class="slide-dots-next"></a>
                            <a class="slide-dots-prev"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Area End Here -->