<div class="breadcumb-area five">
                <div class="container">
                    <div class="row">
                        <div class="breadcumb">
                            <h2>El sueño</h2>
                        </div>
                    </div>
                </div>
            </div>
            
<div class="home-plan-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="single-plan">
                          
                            <div class="plan-details">
                                <h3><a href="plan.html">Nuestro Sueño</a></h3>
                                <p>Los animales así como cualquiera de nosotros ellos también necesitan de espacios suficientes para poder vivir de la mejor manera. Nosotros como institución queremos que nuestros animales tengan las mejores comodidades que permitan su desarrollo y desenvolvimiento de la mejor manera, es por ello que tenemos como sueño poder ampliar el minizoo. </p>

                                
                            </div>
                        </div>

                    </div>
                    
              
                     
            </div>
        </div>  
<div class="container-fluid">
                <img src="/images/sueno.jpg" alt="El Sueño del Zoo" class="img-responsive zoom">
            </div>
    </div> 
