<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <meta content="ie=edge" http-equiv="x-ua-compatible">
                <!-- SEO a traves de metas -->
                <meta content="Mini Zoológico Juan XXXIII de Encarnación" name="title"/>
                <meta content="INDEX,FOLLOW" name="ROBOTS"/>
                <meta content="Mini Zoológico del Colegio Privado Juan XXXIII de la ciudad de Encarnación. Uno de los atractivos que no podes dejar de visitar si estas por Encarnación. El minizoo de la ciudad de Encarnación alverga a mas de 60 especies entre ellas animales en peligro de extinsión" name="description">
                    <meta content="Mini Zoológico del Colegio Privado Juan XXXIII de la ciudad de Encarnación" name="abstract"/>
                    <meta content="zoológico, mini zoológico, animales, refugio de animales de la ciudad de encarnación, refugio de animales del país, aniamales en peligro de extinsión" name="keywords"/>
                    <meta content="Mini Zoológico" name="author"/>
                    <meta content="Mini Zoológico" name="copyright"/>
                    <!-- fin SEO -->
                    <!-- SEO Titulo-->
                    <title>
                        Mini Zoológico del Juan XXIII  | Zoológicos del Paraguay | Mini zoo | Mini zoo de Encarnación | Zoológico de Encarnación
                    </title>
                    <meta content="width=device-width, initial-scale=1" name="viewport">
                        <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon">
                            <link href="images/favicon.ico" rel="apple-touch-icon">
                                <!-- Bootstrap core CSS -->
                                <link href="/css/bootstrap/css/bootstrap.css" rel="stylesheet">
                                    <!-- Custom styles for this template -->
                                    <link href="/css/full-slider.css" rel="stylesheet">
                                        <link href="/css/style.css" rel="stylesheet" type="text/css"/>
                                    </link>
                                </link>
                            </link>
                        </link>
                    </meta>
                </meta>
            </meta>
        </meta>
    </head>
    <body>
        <%= render 'website/menu' %>
    </body>
</html>