<!DOCTYPE html>
<html>

  <head>

   <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        
        
        <!-- SEO a traves de metas -->
            <meta name="title" content="Mini Zoológico Juan XXXIII de Encarnación" />
            <meta name="ROBOTS" content="INDEX,FOLLOW" />
            <meta name="description" content="Mini Zoológico del Colegio Privado Juan XXXIII de la ciudad de Encarnación. Uno de los atractivos que no podes dejar de visitar si estas por Encarnación. El minizoo de la ciudad de Encarnación alverga a mas de 60 especies entre ellas animales en peligro de extinsión">
            <meta name="abstract" content="Mini Zoológico del Colegio Privado Juan XXXIII de la ciudad de Encarnación" />
            <meta name="keywords" content="zoológico, mini zoológico, animales, refugio de animales de la ciudad de encarnación, refugio de animales del país, aniamales en peligro de extinsión" />
            <meta name="author" content="Mini Zoológico" />
            <meta name="copyright" content="Mini Zoológico" />

        <!-- fin SEO -->
        <title> Mini Zoológico del Juan XXIII  | Zoológicos del Paraguay</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"> 
        <link rel="apple-touch-icon" href="images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap/css/bootstrap.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/css/full-slider.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />

  </head>  
    <body>
   		
    		<%= render 'website/menu' %>
	   	
	

