

	<footer>
		<%= render 'website/footer' %>
	</footer>
    
	 <!-- all js here -->
        <!-- jquery latest version -->
        <script src="/website-style/js/vendor/jquery-1.12.0.min.js.descarga"></script>
        <!-- bootstrap js -->
        <script src="/website-style/js/bootstrap.min.js.descarga"></script>
        <!-- owl.carousel js -->
        <script src="/website-style/js/owl.carousel.min.js.descarga"></script>
        <!-- meanmenu js -->
        <script src="/website-style/js/jquery.meanmenu.js.descarga"></script>
        <!-- jquery-ui js -->
        <script src="/website-style/js/jquery-ui.min.js.descarga"></script>
        <!-- wow js -->
        <script src="/website-style/js/wow.min.js.descarga"></script>
        <!-- magnific-popup js -->
        <script src="/website-style/js/jquery.magnific-popup.min.js.descarga"></script>
        <!-- plugins js -->
        <script src="/website-style/js/plugins.js.descarga"></script>
      	<!-- main js -->
        <script src="/website-style/js/main.js.descarga"></script>
    </body>


</html>
