  <%= render partial: 'animales/header_ficha', formats: [:html], :locals => { }  %> 

  <h4 class="text-uppercase">
  <strong>FICHA MEDICA DE ANIMALES</strong>
  <hr>
</h4>
 
  <%= render partial: 'animales/body_ficha', formats: [:html], :locals => { }  %> 